<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean class="com.demoproject3.springcore3.Teacher" name="teacher">
		
		<property name="name" value="Arijeet Ghosh"/>
		
		<property name="phones">
			<list>
				<value>8334054100</value>
				<value>9163283347</value>
			</list>
		</property>
		
		<property name="offices">
			<set>
				<value>Euphoria GenX</value>
				<value>Techno Exponent</value>
			</set>
		</property>
		
		<property name="courses">
			<map>
				<entry key="MERN" value="5000"/>
				<entry key="Spring Boot" value="6000"/>
				<entry key="Java Full STack" value="7000"/>
			</map>
		</property>
		
    </bean>
    
</beans>